<p>
  <b>User:</b>
  <%=h @session.user_id %>
</p>

<p>
  <b>Session hash:</b>
  <%=h @session.session_hash %>
</p>

<p>
  <b>Login:</b>
  <%=h @session.login %>
</p>


<%= link_to 'Edit', edit_session_path(@session) %> |
<%= link_to 'Back', sessions_path %>