<h1>Editing box</h1>

<% form_for(@box) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :project_id %><br />
    <%= f.text_field :project_id %>
  </p>
  <p>
    <%= f.label :serial %><br />
    <%= f.text_field :serial %>
  </p>
  <p>
    <%= f.label :start_projected %><br />
    <%= f.datetime_select :start_projected %>
  </p>
  <p>
    <%= f.label :end_projected %><br />
    <%= f.datetime_select :end_projected %>
  </p>
  <p>
    <%= f.label :start_actual %><br />
    <%= f.datetime_select :start_actual %>
  </p>
  <p>
    <%= f.label :plant_discharge %><br />
    <%= f.datetime_select :plant_discharge %>
  </p>
  <p>
    <%= f.label :end_actual %><br />
    <%= f.datetime_select :end_actual %>
  </p>
  <p>
    <%= f.label :size %><br />
    <%= f.text_field :size %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @box %> |
<%= link_to 'Back', boxes_path %>